{#{% extends "login.html" %}#}
{% load staticfiles %}
{% block title %}bbs{% endblock %}
{% block extrastyle %}
    {#    <link rel="stylesheet" href="{% static "js/jquery.ui/jquery-ui.css" %}" type="text/css">#}
    {#    <link rel="stylesheet" href="{% static "js/laydate/skins/molv/laydate.css" %}" type="text/css">#}
    {#    <style>#}
    {#        .page_list thead th{text-align: center; font-weight: bold;}#}
    {#        .text_center{text-align: center;}#}
    {#    </style>#}
{% endblock %}
{% block extrahead %}{% endblock %}
{% block blockbots %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{% url 'index' %}">首页</a></li>
    <li class="active">注册</li>
{% endblock %}
{% if messages %}{% for message in messages %}<h4 style="float: right;color:#ff8375;">{{ message }}</h4>{% endfor %}{% endif %}
{% block content %}

    <div class="modal-body">
        <form method="post" action="{% url 'regist' %}">
            {% csrf_token %}
            <table class="table table-bordered" id="regist">
                <tr>
                    <td width='15%%'>用户名</td>
                    <td width='85%%'><input type="text" name="name" required="required" maxlength="10"
                                            style="width:300px" placeholder="最多输入10字符"/></td>
                </tr>
                <tr>
                    <td width='15%%'>密码</td>
                    <td width='85%%'><input type="password" name="password" required="required" maxlength="30"
                                            style="width:300px" placeholder="最多输入30字符"/></td>
                </tr>
            </table>
            <div style="text-align: right;float: left">
                <button class="btn btn-primary" type="submit">确定</button>
                <a href="../login" class="btn btn-primary">返回</a>
            </div>
        </form>

    </div>

{% endblock %}
{#{% block active_li %}home{% endblock %}#}
{#{% block extrascript %}#}
{#    <script type="text/javascript">#}
{##}
{#    </script>#}
{#{% endblock %}#}


</body>
</html>
